<template>
    <transition
        name="notification"
        appear
    >
        <div class="notification">
            <div
                :class="{ 'cursor-pointer': closeOnClick }"
                class="notification__inner inline-flex items-center"
                @click="clickHandler"
            >
                <slot />
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        duration: {
            type: Number,
            default: 8000
        },

        closeOnClick: {
            type: Boolean,
            default: true
        }
    },

    data: () => ({
        timer: null
    }),

    mounted () {
        if (this.duration !== Infinity) {
            this.timer = setTimeout(this.close, this.duration);
        }
    },

    beforeUnmount () {
        clearTimeout(this.timer);
    },

    methods: {
        clickHandler () {
            if (this.closeOnClick) {
                this.close();
            }
        },

        close () {
            this.$emit('close');
        }
    }
};
</script>
