<template>
    <BaseNotification
        v-if="active"
        aria-live="assertive"
        aria-describedby="cookieNotice__text"
        :duration="Infinity"
        :close-on-click="false"
        class="cookieNotice flex justify-between items-center"
        @close="close"
    >
        <span
            id="cookieNotice__text"
            class="cookieNotice__text"
            v-html="message"
        ></span>

        <NotifcationClose
            aria-label="Stäng notisen som visar information om cookies"
            @close="close"
        />
    </BaseNotification>
</template>

<script>
import BaseNotification from './BaseNotification.vue';
import NotifcationClose from './NotificationClose.vue';

export default {
    components: {
        BaseNotification,
        NotifcationClose
    },

    props: {
        message: {
            type: String,
            required: true
        }
    },

    data: () => ({
        active: window.localStorage.getItem('cookieInformationAccepted') === null
    }),

    watch: {
        active: {
            handler () {
                this.$emit('activeChanged', this.active);
            },
            immediate: true
        }
    },

    methods: {
        close () {
            this.active = false;
            window.localStorage.setItem('cookieInformationAccepted', true);
        }
    }
};
</script>
