<template>
    <BaseNotification
        :duration="duration"
        class="items-center"
        @close="close"
    >
        <span
            :class="status"
            class="notification__icon flex-shrink-0"
        >
            <svg
                v-if="status === 'success'"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            ><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" /><polyline points="22 4 12 14.01 9 11.01" /></svg>

            <svg
                v-if="status === 'warning'"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            ><circle
                cx="12"
                cy="12"
                r="10"
            /><line
                x1="12"
                y1="8"
                x2="12"
                y2="12"
            /><line
                x1="12"
                y1="16"
                x2="12.01"
                y2="16"
            /></svg>
        </span>

        <p class="notification__text">
            {{ message }}
        </p>
    </BaseNotification>
</template>

<script>
import BaseNotification from './BaseNotification.vue';

export default {
    components: {
        BaseNotification
    },

    props: {
        status: {
            type: String,
            required: true
        },

        message: {
            type: String,
            required: true
        },

        duration: {
            type: Number,
            default: 8000
        }
    },

    methods: {
        close () {
            this.$emit('close');
        }
    }
};
</script>
