<template>
    <div
        class="notificationContainer"
        role="dialog"
        :aria-hidden="isHidden.toString()"
    >
        <Notification
            v-for="notification in notifications"
            :key="notification.id"
            :status="notification.status"
            :message="notification.message"
            :duration="notification.duration"
            @close="removeNotification(notification)"
        />

        <CookieNotification
            v-if="cookieMessage"
            ref="cookieNotifiction"
            :message="cookieMessage"
            @activeChanged="val => cookieNoticeActive = val"
        />
    </div>
</template>

<script>
import Notification from './Notification.vue';
import CookieNotification from './CookieNotification.vue';
import { EventBus } from './eventBus.js';

export default {
    components: {
        Notification,
        CookieNotification
    },

    props: {
        cookieMessage: {
            type: String,
            default: null
        }
    },

    data: () => ({
        cookieNoticeActive: false,
        notifications: []
    }),

    computed: {
        isHidden () {
            return this.notifications.length < 1 && !this.cookieNoticeActive;
        }
    },

    mounted () {
        EventBus.$on('addNotification', this.addNotification);
    },

    methods: {
        addNotification (notification) {
            this.notifications.push({
                id: Date.now(),
                ...notification
            });
        },

        removeNotification (notification) {
            const index = this.notifications.indexOf(notification);

            if (index !== -1) {
                this.notifications.splice(index, 1);
            }
        }
    }
};
</script>
