.carouselProgress {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-color: currentColor;
    }
}

.carouselProgress__bar {
    background-color: currentColor;
    transform-origin: left;
    animation-name: carouselProgress;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transform: scaleX(0);

    &.isPaused {
        animation: none;
    }
}

@keyframes carouselProgress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
