.cookieNotice .notification__inner {
    padding: 4rem 5rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0;
    align-items: center;

    @media (--tablet) {
        padding: 4rem 3rem;
    }

    @media (--mediumTablet) {
        padding: 3rem 2.5rem;
    }

    @media (--mobile) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.cookieNotice__text {
    margin-bottom: 0;
    text-align: left;
    font-size: 1.6rem;

    @media (--mobile) {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.cookieNotice__text br {
    @media (--mobile) {
        display: none;
    }
}

.cookieNotice__text a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: var(--secondaryColor);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 2px;
        background-color: currentColor;
    }
    
    &:hover {
        color: var(--primaryColor);
    }
}
