.notificationClose {
    font-size: 4rem;
    width: 1em;
    height: 1em;
    margin-left: 1em;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 100%;

    @media (--mobile) {
        margin-left: 0;
    }

    &:hover {
        border: 2px solid var(--secondaryColor);
        color: var(--secondaryColor);
    }
}

.notificationClose__icon {
    width: 0.55em;
    height: 0.55em;
    outline: none;
}
