.checkbox {
    font-size: 1rem;
    cursor: pointer;
}

.checkbox__icon {
    width: 3em;
    height: 3em;
    margin-right: 2em;
    border: 2px solid var(--primaryColor);
}

.checkbox__icon::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.7em;
    height: 1.4em;
    margin-left: -0.7em;
    margin-top: 0.1em;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: top left;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
}

.checkbox:hover .checkbox__icon::after {
    border-color: var(--primaryColor);
    animation: check 0.5s;
    opacity: 0.3;
}

.checkbox.isActive .checkbox__icon::after {
    border-color: var(--primaryColor);
    animation: check 0.5s;
    opacity: 1;
}

.checkbox__label {
    font-size: 2em;
    line-height: 1;
}

@keyframes check {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 0.7em;
        height: 0;
    }
    50% {
        width: 0.7em;
        height: 1.4em;
    }
}
