.input {
    font-size: 20px;
    border: 2px solid transparent;
    background-color: #fff;
    padding: 1.5rem 1.8rem;
    width: 100%;
    display: block;
    transition: var(--normalTrans);

    @media (--laptop) {
        font-size: 18px;
    }

    @media (--tablet) {
        font-size: 17px;
    }

    @media (--mobile) {
        font-size: 16px;
    }

    &:focus {
        border-color: var(--formFocusColor);
        outline: 0;
    }
}