.label {
    margin: 1rem 0;

    @media (--mobile) {
        margin: 0.8rem 0;
    }

    &.top {
        margin-top: 0;
    }

    &.below {
        margin-bottom: 0;
    }

    &.hasError {
        color: #e53e3e;
    }
}
